services:
  postgres_service:
      image: "postgres:latest"
      container_name: "postgres_service"
      restart: always
      ports:
        - ${POSTGRES_PORT}:5432
      environment:
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_PORT=${POSTGRES_PORT}
      env_file:
        - .env
      volumes:
        - ./app_etl_data/:/var/lib/postgresql/data/
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_PASSWORD}"]
        start_period: 0s
        interval: 10s
        timeout: 30s
        retries: 3
