[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
sqlalchemy = "*"
aiohttp = "*"

[dev-packages]
debugpy = "*"
pytest = "*"

[requires]
python_version = "3.11"
